/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
     .service-shape-5{
          visibility: hidden;
      }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
     .project-area .project-wrapper {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          row-gap: 5px;
          column-gap: 5px;
      }
     /* header top area */
     .header-top-area .row {
          align-items: center;
      }
     .service-shape-5{
         visibility: hidden;
     }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
     .project-area .project-wrapper {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 5px;
          column-gap: 5px;
      }
      .header-middle-area .header_linking {
          gap: 23px;
          /* margin-top: 20px; */
      }
     /* header top area */
     .header-top-area .row {
          align-items: center;
          flex-wrap: nowrap;
      }
}

 
/* small mobile :320px. */
@media only screen and (min-width: 280px) and (max-width:520px) {
     /* hero area */
     .contact-card{
          flex-direction: column;
          display: flex;
          text-align: center;
          padding: 15px;
          gap: 20px;
     }
     .contact-card-icon {
          font-size: 30px;
          width: 55px;
          height: 55px;
          padding: 12px;
          margin-left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
     }
     .contact-wrap h5 {
          font-size: 24px;
          font-weight: 600;
          line-height: 28px;
      }
     .contact-wrap p {
          font-weight: 400;
          font-size: 15px;
          line-height: 25px;
          margin: 5px 0;
     }
     .contact-wrap a {
          font-weight: 400;
          font-size: 16px;
          line-height: 40px;
     }
     #content-area h1{
          font-size: 26px;
          font-weight: 700;
          line-height: 42px;
          text-align: center;
      }
      #content-area p{
          font-size: 16px;
          line-height: 25px;
      }
     .content-wrapper{
          padding: 100px 0;
     }
     .experience-box {
          width: 120px;
          height: 120px;
          position: absolute;
          bottom: -45px;
          left: -9px;
     }
     .shape-4 img {
          max-width: 102px;
          width: 100%;
      }
     .service-content-wrap p.subtitle {
          font-family: 'Poppins',sans-serif;
          font-size: 16px;
          text-align: center;
     }
     .service-content-wrap h1 {
          font-size: 23px;
          line-height: 40px;
          margin: 15px 0;
          text-align: center;
      }
}
/* small mobile :280px. */
@media only screen and (max-width:220px){
     .contact-card{
          padding: 20px;
     }
}
/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
     /* project area */
     .project-area .project-wrapper {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 5px;
          column-gap: 5px;
     }
     /* customer area */
     .customer-wrapper-active .owl-nav div {
          left: 60px;
     }
     .customer-wrapper-active .owl-nav div.owl-prev {
          left: auto;
          right: 60px;
     }
    /* header top area */
    .header-top-area .row {
     align-items: center;
     flex-wrap: nowrap;
 }
     /* header middle */
     .header-middle-area .toggle-btn{
          display: block;
     }
     .header-middle-area .header_linking{
          display: none;
          visibility: hidden;
     }
     .header-middle-area .row {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
      }
     /* main header */
     .header-menu{
          display: none;
          visibility: hidden;
          opacity: 0;
     }
}
@media only screen and (min-width: 220px) and (max-width: 350px){
     /* header top */
     .header-top-area {
          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 20px;
      }
     .header-top-wrap  p {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
      }
      .header-top-area .socal-links i {
          font-size: 14px;
          margin-left: 10px;
      }
      /* hero area */
     .hero-area .single-hero-item .hero-content h1{
          font-size: 30px;
          font-weight: 600;
          line-height: 50px;
     }
     /* default section title area */
     .section-title h4 {
          line-height: 40px;
      }
     /* project area */
      .project-area .project-wrapper {
          display: grid;
          grid-template-columns: auto;
          row-gap: 40px;
      }
      .project-area .project-wrapper {
          display: grid;
          grid-template-columns: 1fr;
          row-gap: 5px;
          column-gap: 5px;
      }
     /* hero-area button group */
     .group-btn {
          flex-direction: column;
          display: inline-block;
          gap: 30px;
     }
     .group-btn a{
          margin-bottom: 30px;
     }
}
