@media (min-width: 1701px) and (max-width: 2660px){
     .service-card p {
          font-size: 16px;
          line-height: 28px;
     }
     .service-content-wrap h1 {
          font-size: 28px;
          line-height: 40px;
      }
      .service-content-wrap p {
          margin-bottom: 15px;
          font-size: 15px;
          line-height: 20px;   
      }
      .checklist li {
          margin-bottom: 19px;
      }
}
@media (min-width: 1551px) and (max-width: 1800px){
     .service-card p {
          font-size: 16px;
          line-height: 28px;
     }
     .service-content-wrap h1 {
          font-size: 28px;
          line-height: 40px;
      }
      .service-content-wrap p {
          margin-bottom: 15px;
          font-size: 15px;
          line-height: 20px;   
      }
      .checklist li {
          margin-bottom: 19px;
      }
      section.people_helpFull_Service .people-service-shape{
          visibility: hidden;
          opacity: 0;
     }
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1550px) {
     section.people_helpFull_Service .people-service-shape{
          visibility: hidden;
          opacity: 0;
     }
     .contact-card.footer-contact-item {
          display: flex;
          flex-direction: column;
      }
     .service-shape-5{
          visibility: hidden;
      }
     .service-card p {
          font-size: 13px;
          line-height: 28px;
          font-weight: 400;
     }
     .people-service-shape img{
          visibility: visible;
     }
     .container{
          padding: 4rem;
     }
     .experience-box {
          width: 180px;
          height: 170px;
          font-weight: 600;
          font-size: 25px;
          line-height: 30px;
          position: absolute;
          bottom: -45px;
          left: -20px;
     }
     .service-content-wrap h1 {
          font-size: 28px;
          line-height: 40px;
      }
      .service-content-wrap p {
          margin-bottom: 15px;
          font-size: 15px;
          line-height: 20px;    
      }
      .checklist li {
          margin-bottom: 19px;
      }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
     .service-shape-5{
         visibility: hidden;
     }
     .people-service-shape{
          visibility: hidden;
     }
     .contact-card{
          width: 425px;
     }
     #grid-area{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 22px;
          column-gap: 22px;
     }
     .experience-box {
          width: 150px;
          height: 150px;
          font-weight: 600;
          font-size: 25px;
          line-height: 30px;
          position: absolute;
          bottom: -45px;
          left: -16px;
     }
     .service-card p {
          font-size: 13px;
          line-height: 28px;
     }
     .shape-4 img {
          max-width: 90px;
      }
      .service-content-wrap h1 {
          font-size: 21px;
          margin: 5px 0;
          line-height: 30px;
      }
      .service-content-wrap p {
          margin-bottom: 11px;
          font-size: 13px;
          line-height: 18px;    
      }
      .checklist li {
          margin-bottom: 11px;
      }
      .service-content-wrap p.subtitle {
          font-size: 15px;
          line-height: 10px;
      }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
     .reviews-section .review-card {
          padding: 50px 0 50px 50px;
     }
     #our-work-top-title{
          display: flex;
          flex-direction: column;
          /* align-items: flex-start;
          justify-content: flex-start; */
          gap: 40px;
     }
     .out-work-title p {
          margin-bottom: 5px;
     }
     .description-text{
          margin-bottom: 30px;
     }
     .experience-box {
          width: 140px;
          height: 140px;
          font-weight: 600;
          font-size: 25px;
          line-height: 25px;
          position: absolute;
          bottom: -45px;
          left: -9px;
     }
     .contact-card{
          width: 425px;
     }
     /* #grid-area{
          display: grid;
          grid-template-columns: repeat(1fr);
          row-gap: 22px;
          column-gap: 22px;
     } */
}

 
/* small mobile :320px. */
@media only screen and (min-width: 280px) and (max-width:550px) {
     .google-app-enti h6 {
          font-size: 17px;
          line-height: 20px;
      }
      
      .google-app-enti h2 {
          font-size: 31px;
          line-height: 54px;
      }
      
      .google-app-enti p {
          font-size: 14px;
          line-height: 25px;
      }
      
      .google-app-enti p:last-child {
          margin-top: 10px;
      }
     .prev-absolute-wrap svg{
          visibility: hidden;
     }
     .reviews-section .review-card {
          padding: 30px 0 30px 30px;
     }
     /* hero area */
     .contact-card{
          flex-direction: column;
          display: flex;
          text-align: center;
          padding: 15px;
          gap: 20px;
     }
     #our-work-top-title{
          display: flex;
          flex-direction: column;
          /* align-items: flex-start;
          justify-content: flex-start; */
          gap: 20px;
     }
     .out-work-title p {
          margin-bottom: 5px;
     }
     .description-text{
          margin-bottom: 30px;
          font-size: 17px;
          line-height: 25px;
          text-align: center;
     }
     .out-work-title {
          text-align: center;
      }
     .out-work-title h1 {
         font-size: 30px;
      }
     .contact-card-icon {
          font-size: 30px;
          width: 55px;
          height: 55px;
          padding: 12px;
          margin-left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
     }
     .contact-wrap h5 {
          font-size: 24px;
          font-weight: 600;
          line-height: 28px;
      }
     .contact-wrap p {
          font-weight: 400;
          font-size: 15px;
          line-height: 25px;
          margin: 5px 0;
     }
     .contact-wrap a {
          font-weight: 400;
          font-size: 16px;
          line-height: 40px;
     }
     #content-area h1{
          font-size: 22px;
          font-weight: 700;
          line-height: 38px;
          text-align: left;
      }
      #content-area p{
          font-size: 14px;
          line-height: 23px;
      }
     .content-wrapper{
          padding: 100px 0;
     }
     .experience-box {
          width: 105px;
          height: 105px;
          font-weight: 600;
          font-size: 20px;
          line-height: 19px;
          position: absolute;
          bottom: -45px;
          left: -9px;
     }
     .shape-4 {
          right: 33px;
          max-width: 85px;
      }
     .service-content-wrap p.subtitle {
          font-family: 'Poppins',sans-serif;
          font-size: 16px;
          text-align: center;
     }
     .service-content-wrap h1 {
          font-size: 19px;
          line-height: 40px;
          margin: 15px 0;
          text-align: center;
      }
     .service-content-wrap p {
          font-size: 14px;
     }
     .checklist li{
          font-size: 16px;
     }
}
/* small mobile :280px. */
@media only screen and (min-width:220px) and (max-width:480px){
     .review-card .preview-info h3 {
          font-size: 18px;
          line-height: 34px;
     }
     .call-to-action-text h5 {
          font-size: 24px;
          text-align: center;
     }
     .review-section-title p {
          font-weight: 500;
          font-size: 14px;
          line-height: 30px;
      }
     .review-section-title h1 {
          font-size: 30px;
          line-height: 40px;
      }
     .preview-info .prev-details .prev-img svg {
          font-size: 27px;
          padding: 10px;
     }
     .service-card p{
          font-size: 14px;
          line-height: 28px;
     }
     .prev-details {
          display: flex;
          align-items: center;
          gap: 10px;
      }
      .reviews-section .review-card {
          padding: 20px 0 20px 20px;
      }
      .btn-review {
          padding: 10px 20px;
          font-size: 10px;
          font-weight: 500;
      }
}
/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
}
@media only screen and (min-width: 520px) and (max-width: 767px){
     .preview-info .prev-details .prev-img svg {
          font-size: 27px;
          padding: 10px;
     }
     .prev-details {
          display: flex;
          /* flex-direction: column; */
          /* align-items: flex-start; */
          align-items: center;
          gap: 10px;
      }
     .prev-absolute-wrap svg{
          visibility: hidden;
     }
     .reviews-section .review-card {
          padding: 20px 0 20px 20px;
     }
     .review-card .preview-info h3 {
          font-size: 18px;
          line-height: 34px;
     }
     .people_service_title h5{
          text-align: center;
     }
     .people_service_title h1{
          font-weight: 700;
          font-size: 20px;
          line-height: 40px;
     }
     .experience-box {
          width: 120px;
          height: 120px;
          font-weight: 600;
          font-size: 20px;
          line-height: 19px;
          position: absolute;
          bottom: -45px;
          left: -9px;
     }
     #our-work-top-title{
          display: flex;
          flex-direction: column;
          /* align-items: flex-start;
          justify-content: flex-start; */
          gap: 40px;
     }
     .out-work-title p {
          margin-bottom: 5px;
     }
     .description-text{
          margin-bottom: 30px;
     }
}
